@charset "utf-8";


    *{
        margin: 0;
        padding:0;
    }

    .container {
        position: absolute;
        width: 500px;
        height:500px;
        background-color: black;
        left:50%;
        top:150px;
        margin-left: -400px;
    }

    .sides{
        position: relative;
        width:33%;
        height:33%;
        background-color: black;
        float:left;
    }

    .view {
        margin: 0;
        padding:0;
        transform-origin: 200px 200px;
        width: 800px;
        height: 800px;
    }

    .view img {
        width: 33%;
        height: 33%;
    }

    .f1 {
        -webkit-transform: rotate(0deg);
    }

    .f2 {
        -webkit-transform: rotate(-90deg);
    }

    .f3 {
        -webkit-transform: rotate(-270deg);
    }

    .f4 {
        -webkit-transform: rotate(-180deg);
    }
